html{
    font-size: 16px;
    color: rgb(35, 35, 35)
}

a:link {
    text-decoration: underline;
}
a:hover{
    color:grey;
}
h1{
    font-size: 5em;
}

h2{
    font-size: 2em;
}

.project-title h3{
    display: inline;
    font-size: 1.25em;  
}
main h2 i{
    margin-right: 0.75em;
}


.toggle-mode{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.toggle-button {
    display: flex;
    align-items: center;
    margin: 0.25em 0.75em 0 0.25em;
    height: 1em;
    width: 3em;
    background-color: lightgray;
    border-radius: 2em;
}
.toggle-button .bullet{

    margin-left: 0.25em;   
    width: 0.75em;
    height: 0.75em;
    background-color: gray;
    border-radius: 1em;
}
.toggle-button .bullet:hover{
    margin-left: 0.25em;   
    width: 0.75em;
    height: 0.75em;
    background-color: green;
    border-radius: 1em;
}
.toggle-button .bullet:active{
    display: flex;
    align-items: flex-end;
    margin-left: 2em;   
    width: 0.75em;
    height: 0.75em;
    background-color: green;
    border-radius: 1em;
}
.fractional-background{
    
    position: fixed;
    background-color: rgb(245, 245, 245);
    transform: rotate(25deg);
    height: 900%;
    width: 730%;     
}
.layout-container{
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    min-width: 50em;
    display: grid;
    grid-template-columns: 50em;
    grid-template-rows: 
        auto
        1fr
        5em;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    justify-content: center;
    justify-items: center;
    row-gap: 1em;
    

    border: 3px solid green;
}

header{
    grid-area: header;
    border: 3px solid green;
    display: grid;
    justify-items: center;
    align-items: center;
    min-width: 100%;
}
nav{
    margin-top: 1em;
    display: grid;
    align-items: center;
    justify-items: center;
    
}
main{
    grid-area: main;
    
}
.navigation-items{
    
    display: inline-flex;
    
}
.navigation-item{
    margin: 0 0.75em;
}
.about-me-container{
    display: grid;
    min-width: 55em;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-end;
    align-items: center;
    
    border: 3px solid green;
}
.about-me-text-container p{
    padding: 0.75em;
}
.about-me-img-container{    
}

.about-me-img-container img{
    width: 20em;
    border: 3em solid rgb(35, 35, 35);
    border-radius: 15em;
}

.projects-container{
    border: 3px solid green;
    margin-top: 1em;
}
.projects-container details{
    padding-top: 0.25em;
}
.project-title{
    padding: 0.25em;
}

.skills-container{
    border: 3px solid green;
    margin-top: 1em;
    
}
.skill-img-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 4em;
    color: rgb(70, 70, 70);
    padding-top: 0.25em;
}


footer{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: footer;
    min-width: 100%;
    min-height: 100%;
    place-self: center;
    
    border: 3px solid green;
}
footer span{
    
}