html{
    font-size: 16px;
    color: rgb(235, 235, 235);
    scroll-behavior: smooth;
    background-color: rgb(24, 24, 24);
}
body{
    background: linear-gradient(140deg, rgba(2,0,36,0) 38%, rgb(0, 189, 255) 100%);
   
}
a:link {
    text-decoration: underline;
}
a:hover{
    color:rgb(56, 56, 56);
}
h1{
    font-size: 5em;
}

h2{
    font-size: 2em;
    margin-top: 0.75em;
}

.project-title h3{
    display: inline;
    font-size: 1.25em;  
}
main h2 i{
    margin-right: 0.75em;
    color: rgb(235, 235, 235);
}

/* togglebutton */
.toggle-mode{
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 2em;
}

/* Hides default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.switch {
    position: relative;
    display: inline-block;
    margin: 0.75em 1em;
    width: 2.5em;
    height: 1em;
    
  }
.slider {  
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 1em;
}
.slider:before {
    position: absolute;
    content: "";
    height: 0.60em;
    width: 0.60em;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1em;
  }
  input:checked + .slider {
    background-color: rgb(0, 180, 15);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 0.5px rgb(0, 180, 15);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.5em);
    -ms-transform: translateX(1.5em);
    transform: translateX(1.5em);
  }
    
.fractional-background{
    position: fixed;
    background-color: rgb(24, 24, 24);
    transform: rotate(25deg);
    min-height: 500em;
    max-height: 700em;
    min-width: 250em;
    max-width: 300em;
}
.layout-container{
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    min-width: 50em;
    display: grid;
    grid-template-columns: 50em;
    grid-template-rows: 
        auto
        1fr
        5em;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    justify-content: center;
    justify-items: center;
    row-gap: 1em;
}

header{
    grid-area: header;
    display: grid;
    justify-items: center;
    align-items: center;
    min-width: 100%;
}
/* Navigation */
nav{
    margin-top: 1em;
    display: grid;
    align-items: center;
    justify-items: center;
    
}
nav .navigation-items{
    margin: 0.25em;
    display: inline-flex;
}
nav .navigation-item a{
    text-decoration: none;
    color: rgb(235, 235, 235);
}
nav .navigation-item{
    margin: 0 0.75em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
    text-align: center;
    padding: 0.5em 0.25em; 
    width: 5em;
    background: var(--background-color);
    z-index: 1;

    --background-color: rgb(44, 44, 44);
}
.navigation-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    border-left: 3px solid rgba(0, 187, 255, 0.342);
    border-bottom: 4px solid rgba(0, 187, 255, 0.342);
    z-index: -1;
    transition: transform 0.15s ease-in-out;
    
    transform-origin: left;
    transform: scaleX(0);
}

.navigation-item:hover::before,
.navigation-item:focus::before,
.navigation-item:active::before{
    transform: scaleX(1);
    
}

/* Main content*/
main{
    grid-area: main;
    
}

.about-me-container{
    display: grid;
    min-width: 55em;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-end;
    align-items: center;
    
}
.about-me-text-container, .contact-container p{
    line-height: normal;
    padding: 0.75em;
}
.contact-container{
    display: flex;
    flex-direction: column;
}
.so-me-container{
    display: flex;
    flex-direction: column;
}
.so-me{
    font-size: 2em;
    color: rgb(235, 235, 235);
    margin: 0.25em;
    padding-left: 10%;
    
}
.so-me a{
    text-decoration: none;
}
.so-me i{
    margin-right: 0.5em;
}
.about-me-img-container img{
    width: 20em;
    border: 2em solid rgba(0, 187, 255, 0.199);
    border-radius: 15em;
}

.projects-container{
    margin-top: 1em;
    padding-left: 40%;
}
.project-title{
    padding: 0.25em;
}
.projects-container details{
    padding-top: 0.25em;
    padding-bottom: 0.75em;
}
.project{
    
}
.projects-container img {
    width: 90%;
    max-width: 400px;
    margin: 0.50em 0;
}
.skills-container{
    margin-top: 1em;
}
.skill-img-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 4em;
    color: rgb(235, 235, 235);
    padding-top: 0.25em;
}

/* Footer */
footer{
    grid-area: footer;
    display: grid;
    align-items: center;
    justify-items: center;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 1em;
    place-self: center;   
}

.heart{
    color: red;
}

@media only screen and (max-width: 2100px) {
    .fractional-background{
        position: fixed;
        background-color: rgb(24, 24, 24);
        transform: rotate(25deg);
        min-height: 400em;
        max-height: 500em;
        min-width: 250em;
        max-width: 300em;
    }
}
@media only screen and (max-width: 1200px) {
    .fractional-background{
        position: fixed;
        background-color: rgb(24, 24, 24);
        transform: rotate(25deg);
        min-height: 300em;
        max-height: 400em;
        min-width: 250em;
        max-width: 200em;
    }
}
@media only screen and (max-width: 810px) {
    .fractional-background{
        position: fixed;
        background-color: rgb(24, 24, 24);
        transform: rotate(25deg);
        min-height: 220em;
        max-height: 370em;
        min-width: 250em;
        max-width: 200em;
    }
    .layout-container{
        max-width: 768px;
        min-width: 350px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 0.25em;
        justify-content: flex-start; 
           
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav .navigation-items{
        margin: 0;
    }
    main{
        display: flex;
        flex: 1;    
        flex-direction: column; 
    }
   
    .logo-container h1{
        text-align: center;
        }
    .about-me-container{
        display: flex;
        flex-flow: column-reverse;
        max-width: 768px;
        min-width: 350px;
        align-items: center;
        justify-content: center;
    }
    .about-me-img-container{
        display: flex;     
        justify-content: center;
    }
    .about-me-img-container img{
        width: 35%;
        border: 1em solid rgba(0, 187, 255, 0.199);
    }
    .projects-container{
   
        padding-left: 0.35em;
    }
    .skill-img-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;        
    }
    .skills-container i {
        font-size: 0.75em;
        padding: 0.35em 0.35em;
    }
    footer{
        display: flex;
        justify-content: center; 
        align-items: flex-end;
        height: 2em;
    }
}